<% @topics.each_with_index do |topic, i| %>
<div class="article<%= (i==0) ? " first" : "" %>">
	<div class="article-bg">
    <% posts = Post.search(topic.query, :match_mode => :any, :per_page => 5) %>
    <%= render :partial => 'posts/summary', :locals => {:post => posts.first, :topic => topic, :posts => posts } %>
  </div>
</div>
<div class="clear"></div>
<% end %>
<div class="paginate">
	<%= will_paginate %>
</div>
