<div class="article first">
	<div class="article-body">
		<div class="article-content">
		<h2><%= @tag.name %></h2>
		<p><%= @tag.last_name %></p>
		<div class="clear"></div>
		</div>
	</div>
	<div class="article-meta">
		<div class="date">
			Profile
		</div>
		<div class="clear"></div>
		<div class="meta">
			<ul>
				<li>
					<h5>Most recent event:</h5>
					10.1.2008
				</li>
				<li>
					<h5>First hot event:</h5>
					10.1.2008
				</li>
			
			</ul>
		</div>
	</div>
	<div class="clear"></div>
</div>