<div class="article first">
	<div class="article-body">
		<div class="article-content">
		<h1><%= @tag.name %></h1>
		<h3>Recent news topics</h3>
		<div class="box">
			<ul>
					<% @posts.each do |p| %>
					<li><%= link_to p.title, p.permalink %></li>
					<% end %>
			</ul>
		</div>
		<div class="clear"></div>
		</div>
	</div>
	<div class="article-meta">
		<div class="date">
			Profile
		</div>
		<div class="clear"></div>
		<div class="meta">
			<ul>
				<li>
					<h5>Most recent event:</h5>
					10.1.2008
				</li>
				<li>
					<h5>First hot event:</h5>
					10.1.2008
				</li>
			</ul>
		</div>
	</div>
	<div class="clear"></div>
</div>

