<% @posts.each_with_index do |post, i| %>
<div class="article<%= (i==0) ? " first" : "" %>">
	<div class="article-bg">
		<%= render :partial => 'summary', :locals => {:post => post} %>
	</div>
</div>
<div class="clear"></div>
<% end %>
<div class="paginate">
	<%= will_paginate %>
</div>


<% content_for :sidebar do %>
	<div class="menu-block site-description">
		<h2>Pop'n Hot</h2>
	</div>
<% end %>